<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yumore.answer">

    <application>
        <activity android:name=".AnswerMainActivity" />
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".SubjectActivity" />
        <activity android:name=".OutcomeActivity" />
        <activity android:name=".AnalyzeActivity" />

    </application>
</manifest>